
@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center">
    <img src="~/images/senior-learn-logo1.png" width="550" height="550" />
</div>

<hr />
<a href="~/export/cluster-1.html">Cluster One</a>